body {
  /* margin: 0; */
  height: 100vh;
  display: flex;
  flex-direction: column;

}

main {
  flex-grow: 1;
}


.hidden {
  display: none;
}

.show {
  display: inline;
}

footer {
  display: flex;
  flex-direction: column;
}